# Drawing Conclusions Using Groupby

In [3]:
# Load `winequality_edited.csv`
import pandas as pd
df = pd.read_csv('winequality_edited.csv')
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

### Is a certain type of wine associated with higher quality?

In [6]:
# Find the mean quality of each wine type (red and white) with groupby
df.groupby(['color'])['quality'].mean()

color
red      5.636023
white    5.877909
Name: quality, dtype: float64

### What level of acidity receives the highest average rating?

In [8]:
# View the min, 25%, 50%, 75%, max pH values with Pandas describe
df['pH'].describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [11]:
# Bin edges that will be used to "cut" the data into groups
bin_edges = [ 2.720000,3.110000,3.210000,3.320000,4.010000] # Fill in this list with five values you just found

In [12]:
# Labels for the four acidity level groups
bin_names = ['High','Moderately_High','Medium','Low'] # Name each acidity level category

In [13]:
# Creates acidity_levels column
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Checks for successful creation of this column
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,Moderately_High
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,Medium
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,Moderately_High
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,Low

In [21]:
# Find the mean quality of each acidity level with groupby
df.groupby(['acidity_levels'])['quality'].mean()

acidity_levels
High               5.783343
Moderately_High    5.784540
Medium             5.850832
Low                5.859593
Name: quality, dtype: float64

In [20]:
qmean_aclevel=df.groupby(['acidity_levels'])['quality'].describe()
qmean_aclevel

                  count      mean       std  min  25%  50%  75%  max
acidity_levels
High             1717.0  5.783343  0.858729  3.0  5.0  6.0  6.0  8.0
Moderately_High  1643.0  5.784540  0.846188  3.0  5.0  6.0  6.0  9.0
Medium           1562.0  5.850832  0.877596  3.0  5.0  6.0  6.0  9.0
Low              1574.0  5.859593  0.909780  3.0  5.0  6.0  6.0  9.0

In [22]:
# Save changes for the next section
df.to_csv('winequality_edited.csv', index=False)